

<div class="container">
	<div class="row"></div>
		<div class="col-md-4"></div>
			<div class="col-md-4">

				<div class="page-title">products</div>
				<div class="items btn btn-color btn-width btn-center">
					<button class="flip-add-product btn-color btn-cneter">add new product</button>
				
				<div class="panel-add-product">
					<%= form_for  Product.new  do  |f| %>
			              <%= f.text_field :product_name, maxlength: "30", :required => true %>
			              <%= f.submit "create", class: "btn-color" %>
			              <%= link_to 'cancel', products_path, class: 'btn btn-danger btn-xs' %>
			  		<% end %>
		  		</div></div>


				<!-- <a class="btn btn-lg  btn-width btn-color" href="/products/new">
				create product</a></div> -->

					<%  @products.each do |product| %>

					<div class="btn btn-color btn-width btn-spacing">
						<%= link_to   product.product_name, product_path(product.id), class: "btn btn-color btn-width-show" %>
						
						<button class="flip btn-float-right btn-color">edit</button>
						<%= link_to "delete", delete_product_path(product.id), method: :delete, data: { confirm: 'Are you sure you want to delete product: '+product.product_name.upcase+  '?  ALL HISTORY WILL ALSO BE PERMANENTLY DELETED!' }, class: "btn btn-sm btn-default button-color" %></button>
						
						
						<div class="panel1">
							<%= form_for product do |f| %>
					              <%= f.text_field :product_name, maxlength: "30", :required => true %>
					              <%= f.submit "Update" %>
					              
			  				<% end %>
		  				</div>
		  		
						<!-- <div class="panel1">
							<%= link_to "edit", product_path(product.id), class: "btn btn-lg btn-width btn-color" %>
						</div> -->
						
					</div>
		
					
				<% end %>
				
			</div>
			<div class="col-md-4"></div>
			
	
	</div>
</div>

<script>
$(document).ready(function(){
    $(".flip").click(function(even){
    	var button = $(event.currentTarget);
    	button.siblings('.panel1').slideDown('slow');
        // $(".panel1").slideDown("slow");
});

    });

$(document).ready(function(){
    $(".flip-add-product").click(function(){
        $(".panel-add-product").slideDown("slow");
});

    });
</script>