
<div class="container">
	<div class="row"></div>
		<div class="col=lg=12 col-md-12 col-sm-12"></div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="page-title"><%= @product.product_name %></div>
				<div class="page-subtitle">ingredients</div>
					<% @product.ingredients.unique.each do |ingredient| %>
						<div class="ingredient-name">
							<div class="btn btn-color-ingredients btn-width btn-spacing">
								
								<span class="text-float-left ingredient-width"><%= ingredient.name %></span>
								<%= link_to image_tag("add-instance.svg", width: 25, height: 25), create_instance_path(ingredient_id: ingredient.id, product_id: @product.id), method: :create, class: "btn-color-instance btn-instance-width btn-float-right btn-instance-height" %>

								<%= link_to "history", instances_path(@product) %>
								<span class= "btn-float-right moment"><%= Product.convert_date(ingredient.instances.last.instance_date.to_s)%></span>
								

								<!-- <div data-stringl=ingredient.instances.last.instance_date.to_s class="moment"></div> -->
								
							</div>
							
						</div>
					<% end %>
					<!-- <%= javascript_tag do %>
							window.instanceDate = '<%= @product.ingredients[2].name + @product.ingredients[2].instances[3].instance_date.to_s%>';
					 <% end %> -->
			</div>	
			
		
	</div>
</div>
<script type="text/javascript">

$(document).ready(function(){
	$('.moment').each(function(){
		var str = $(this).text();
		if (str.length> 0) {
			$(this).text(moment(str).fromNow());
		}
	});
});

   
</script>